* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	font-family: Arial;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
button{
	background-color: #3882f6;
	border: 1px solid #3882f6;
	border-radius: 5px;
	padding: 5px 30px;
	font-family: inherit;
	color: white;
	font-weight: bold;
	font-size: 18px;
}
footer{
	background-color: #1F2937;
	height: 15vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* element ends here*/

/* class starts here*/

.header-container {
	background-color: #1F2937;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 16.5px;
	position: fixed;
	width: 100%;
	color: white;
	
}

.header-link-container{
	display: flex;
	gap: 1em;
	font-size: 18px;
	color: #E5E7EB;
}
.logo-container {
	font-size: 24px;
	color: #E5E7EB;
}
a {
	color: white;
}

/* HEADER ENDS HERE*/


.welcome-page-container{
	background-color: #1F2937;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}
.left-content-container{
	text-align: left;
	width: 50%;
	padding: 30px;
	flex-basis: 120px;
	display: flex;
	flex-direction: column;
	gap: 1em;

}
.first-line-content{
	font-size: 48px;
}
.second-line-content{
	font-size: 20px;
	
}
.second-line-content p {
	width: 500px
}
.right-content-container{
	border: 1px solid white;
	padding: 150px 300px;
	background-color: #7b89a1;
	flex-basis: 120px;
}
.right-content-container p {
	text-align: center;
	width: 400px
	

}


/*WELCOME ENDS HERE*/

.info-page-container {
	height: 100vh;
	background-color: alice-blue;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3em;
	
}
.first-box, .second-box, .third-box, .fourth-box {
	border: 2px solid #3882f6;
	border-radius: 10px;
	height: 180px;
	width: 150px;
}

.media-container{
	display: flex;
	gap: 5em;
}
.media-container  p{
	width: 150px;
	text-align: center;
}
.qoute-page-container {
	height: 100vh;
	background-color: #7b89a1;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
}
.content-qoute{
	font-style: italic;
	font-size: 56px;
	width: 1000px;
	align-self: center;
	align-items: center;
}
.content-author{
	width: 1000px;
	align-self: center;
}
.content-author h2{
	display: flex;
	justify-content: flex-end;
}

/* QOUTE SECTION ENDS HERE*/
.signup-container{
	background-color: white;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signup-content-container {
	border: 1px solid #3882f6;
	height: 150px;
	width:  1000px;
	background-color: #3882f6;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.signup-content-right button{
	border: 1px solid white;
}
.signup-content-left {
	color: white;
}